@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Базовые стили ===== */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    @apply bg-dark text-light font-sans;
    height: 100%;
  }

  /* Кастомный скроллбар */
  ::-webkit-scrollbar {
    width: 4px;
    /* Сделали еще тоньше (с 6px до 4px) */
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    /* Убрали темную подложку, чтобы не было рамки */
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    /* Полупрозрачный белый/серый цвет */
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
    /* Светлеет при наведении */
  }
}

/* ===== Кастомные утилиты ===== */
@layer components {
  .app-content {
    padding-top: 68px;
    /* Высота хедера */
    padding-bottom: 56px;
    /* Высота футера */
  }

  @media (min-width: 768px) {
    .app-content {
      padding-top: 80px;
      padding-bottom: 64px;
    }
  }
}