
<div class="text-center">
    <a class="nav-link" asp-controller="Home" asp-action="AllMovingsInLastRound">Все военные действия прошлого раунда</a>
</div>

<div class="text-center">
    <a class="nav-link" asp-controller="History" asp-action="Filter">Настроить фильтр</a>
</div>

<div>
    <h4>
        Важнейшие события
    </h4>
    @{
        var lastRoundEventStories = ViewBag.LastEventStories as List<List<string>>;
        foreach (var eventStory in lastRoundEventStories)
        {
            @foreach (var line in eventStory)
            {
                <p style="margin-bottom: 0;">@line</p>
            }
            <p style="margin-bottom: 0;">____________________</p>
        }
    }

</div>