.map {
    width: 90%;
    max-width: 1300px;
    margin: 2rem auto;
    border: 1rem solid #fff;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  }
  
  .map > svg {
    width: 100%;
    height: auto;
    border-radius: .5rem;
  }
  
  .feoda {
      -webkit-transition: fill .3s ease-in-out;
      transition: fill .3s ease-in-out;
      fill: rgba(0, 0, 0, 0);
      stroke: black;
      stroke-opacity: .01;
      stroke-width: 1;
      cursor: pointer;
      pointer-events: auto;
      transition: 300ms opacity, 300ms
  }
  
  .feoda:hover {
    opacity: 0.6;
  }