@using YSI.CurseOfSilverCrown.Core.Database.Domains;
@using YSI.CurseOfSilverCrown.Core.Parameters;
@using YSI.CurseOfSilverCrown.Core.Helpers;
@model Domain

@{
    ViewData["Title"] = "Владение";
}

<h1>Мое владение</h1>
@*<a asp-action="Leave">
    Покинуть владение
</a>*@

<div class="tab">
    <button class="tablinks active" onclick="openTab(event, 'Commands')">Управление</button>
    <button class="tablinks" onclick="openTab(event, 'History')">История событий</button>
    <button class="tablinks" onclick="openTab(event, 'Parameters')">Информация</button>
</div>

<div id="Commands" class="tabcontent" style="display: block">
    <h4>Управление</h4>
    <table class="table">
        <tbody>
            <partial name="_IndexCommands" model="Model" />
        </tbody>
    </table> 
</div>

<div id="History" class="tabcontent" style="display: none">
    <h4>История событий</h4>
    <a class="nav-link" asp-controller="History" asp-action="Filter" asp-route-defaultDomainId="@Model.Id">Настроить фильтр</a>
    <table class="table">
        <tbody>
            <partial name="_DomainHistory" model="Model" />
        </tbody>
    </table>
</div>

<div id="Parameters" class="tabcontent" style="display: none">
    <h4>Информация</h4>
    <table class="table">
        <tbody>
            <partial name="_DomainParameters" model="Model" />
        </tbody>
    </table>
</div>

<script>
    function openTab(evt, tabName) {
        let tabcontent = document.getElementsByClassName("tabcontent");
        for (let i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
        }
        let tablinks = document.getElementsByClassName("tablinks");
        for (let i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
