@using YAGO.World.Host.Database.Domains;
@using YAGO.World.Host.Parameters;
@using YAGO.World.Host.Helpers;
@model Organization

<td>
    История событий
</td>
@try
{
    <td>
        @{
            var lastEventStories = ViewBag.LastEventStories as List<List<string>>;
            foreach (var eventStory in lastEventStories)
            {
                @foreach (var line in eventStory)
                {
                    <p style="margin-bottom: 0;">@line</p>
                }
                <p style="margin-bottom: 0;">____________________</p>
            }
        }
    </td>
}
catch
{
    <td style="color: red">Ошибка расчета!</td>
}
