@model List<List<string>>
@{

}

<div>
    <h4>
        Действия войск в прошлом ходу - @(Model.FirstOrDefault()?.First() ?? string.Empty);
    </h4>
    @{
        foreach (var eventStory in Model)
        {
            for (var i = 1; i < eventStory.Count; i++)            
            {
                var line = eventStory[i];
                <p style="margin-bottom: 0;">@line</p>
            }
            <p style="margin-bottom: 0;">____________________</p>
        }
    }

</div>
