@using Microsoft.AspNetCore.Identity
@using YSI.CurseOfSilverCrown.Web.Models.DbModels
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>

    <p>На дворе @ViewBag.Turn</p>
    @{
        var user = UserManager.GetUserAsync(User).Result;
        var isAdmin = user != null
            ? UserManager.IsInRoleAsync(user, "Admin").Result
            : false;
        if (isAdmin)
        {
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="NextTurn">Закончить ход</a>
        }
    }

    <p>Узнай о том как <a href="https://vk.com/club189975977">разрабатывается игра</a>.</p>



</div>
