@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Узнай о том как <a href="https://vk.com/club189975977">разрабатывается игра</a>.</p>
</div>
