@using Microsoft.AspNetCore.Identity;
@using System.Globalization;
@using YSI.CurseOfSilverCrown.Core.MainModels.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    @{
        var user = UserManager.GetUserAsync(User).Result;
        var isAdmin = user != null
            ? UserManager.IsInRoleAsync(user, "Admin").Result
            : false;
        if (isAdmin)
        {
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="NextTurn">Закончить ход</a>
        }
    }

    @{
        var side = false;
        foreach(var item in ViewBag.Cards as List<Card>)
        {
            item.IsLeftSide = side;
            <partial name="_CardPartial" model="item" />
            side = !side;
        }
    }
</div>
