@model IEnumerable<YSI.CurseOfSilverCrown.Core.Database.Models.Domain>

<h1>Текущее располодение всех отрядов на карте</h1>
<div class="text-center">
    <a class="nav-link" asp-action="Map">Карта игрового мира</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Отряды
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @{ 
                    var groupUnits = item.UnitsHere.GroupBy(u => u.DomainId);
                    foreach (var group in groupUnits)
                    {
                        <p style="margin-bottom:0">
                            Отряд владения @group.First().Domain.Name, численность воинов -  @group.Sum(u => u.Warriors)
                        </p>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
